<div class="announcements-page">
  <h1 class="spin">its getten hot n her!</h1>
  <h1>But seriously, here are some annoucements and things</h1>
  <ul>
    {{#each model as |announcement|}}
      {{announcement-tile announcement=model destroyAnnouncement="destroyAnnouncement"}}
    {{/each}}
  </ul>

  {{new-announcement saveRental="saveRental"}}
  {{#link-to 'index'}}NO PLACE LIKE HOME{{/link-to}}
</div>
